.c-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7rem 6rem;
}

.c-container .c-left {
    width: 70%;
    margin-left: 5%;
    text-align: start;
    /* margin-bottom: 2rem; */
}

.c-container .c-left .c-image {
    margin-right:2rem;
}

.c-container .c-left .c-textH {
    margin-top: 10px;
    margin-right: 2rem;
    margin-bottom: 30px;
}

.c-container .c-left h2 {
    font-size: 1.85rem;
    font-weight: 600;
    margin-top: 10px;
}

.c-container .c-left .header2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 35px;
    border-left: 2px solid #0275d8;
    font-style: italic;
    color: #999;
    align-items: center;
    padding: 15px 20px;
    letter-spacing: -.5px;
}

.c-container .c-left .c-textH p{
    font-size: .9rem;
    color: #666666;
    margin-bottom: 10px;
}

.c-container .c-left .c-image img {
    height: 83vh;
}

.c-container .c-right {
    width: 25%;
    margin-right: 3%;
    text-align: start;
    padding-right: 4rem;
}
.c-container .c-right .above {
    margin-bottom: 2rem;
}

.c-container .c-right .above h4 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 13px;
}

.c-container .c-right .above p {
    font-size: 14px;
    line-height: 1.5rem;
}

.c-container .c-right .below h4 {
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.c-container .c-right .below ul li{
    list-style: none;
    margin-bottom: 10px;
    width: 80%;
    border-bottom: 1px solid #ddd;

}



.c-container .c-right .below ul li a{
    list-style: none;
    text-decoration: none;
    color: gray;
    line-height: 2rem;
    font-size: 12px;
    padding-bottom: 10px;
}

.c-container .c-right .below ul li a.active {
    color: #0275d8;
    font-weight: bold;
}

@media screen and (max-width: 990px) {
    .c-container {
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 4rem 2rem;
    }

    .c-container .c-right {
        width: 90% !important;
        text-align: start;
        margin-left: 2rem;
    }

    .c-container .c-left {
        width: 100%;
        text-align: start;
        margin-bottom: 4rem;
    }
    .c-container .c-left .c-image {
        margin-right: 4rem;
        margin-top: 20px;
    }
    
    .c-container .c-left .c-textH {
        margin-top: 10px;
        margin-right: 4rem;
        margin-bottom: 30px;
    }

    .c-container .c-left .c-image img {
        height: 60vh;
    }

    .c-container .c-right .below ul li{
        list-style: none;
        margin-bottom: 10px;
        width: 90%;
        border-bottom: 1px solid #ddd;
    
    }
    
}

@media screen and (max-width: 790px) {
    .c-container {
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .c-container .c-right {
        width: 100% !important;
        text-align: start;
        margin: 4rem 1rem;
    }

    .c-container .c-left {
        width: 100%;
        text-align: start;
        margin-bottom: 4rem;
        margin-left: 0 !important;
        margin: 2rem 0rem;
    }

    .c-container .c-right {
        width: 90% !important;
        text-align: start;
        margin-left: 0rem;
    }

    .c-container .c-left .c-textH {
        margin-top: 10px;
        margin-right: 0rem;
        margin-bottom: 30px;
    }

    .c-container .c-left .c-image {
        margin-right: 0rem;
        margin-top: 20px;
    }

    .c-container .c-left .c-image img {
        height: 55vh;
    }
}