.footer{
    display: flex;
    flex-direction: row;
    padding: 4rem 6rem;
    background: #222;
    color: #fff;
    line-height: 1.8;
    margin-bottom: 0;
    width: 100%;
    /* justify-content: space-between; */

}

.footer .top {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: start;
    /* flex-wrap: wrap; */
    margin-right: 20px;
    min-width: 20%;
}

.top h2 {
    font-size: 24px;
}

.top p {
    color: #999;
}

.top i {
    color: #fff;
    font-size: 1.7rem;
    margin-left: 1rem;
}

.top i:hover {
    color: #01959a;
}

.bottom {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    max-width: 80%;
}

.bottom .services {
    width: 20%;
}
.bottom .about {
    width: 40%;
}
.bottom .about p {
    position: relative;
    min-width: 40% !important;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #ccc;
}

.bottom .about h2 {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

.bottom div {
    display: flex;
    flex-direction: column;
}

.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.bottom a {
    text-decoration: none;
    color: #ccc;
    padding-bottom: 0.4rem;
    font-size: 1rem;
}

.lower {
    width: 100%;
    background-color: #000;
    text-align: center;
    height: 70px;
    position: absolute;
    
}

.lower p {
    color:#fff;
    padding: 1.8rem;
    font-size: .9rem;
}

@media screen and (max-width: 990px) {
    .footer {
        display: flex;
        flex-direction: column !important;
        padding: 4rem 2rem;
    }
    .footer .top{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .footer .bottom{
        display: flex;
        flex-direction: column;
    }

    .footer i {
        margin: 1rem 1rem 0 0;
    }

    .bottom{
        margin: 0;
    }

    .bottom div {
        width: 50%;
    }

    .top h2 {
        font-size: 18px;
    }

    .bottom h4 {
        font-size: 1.2rem;
        padding: 1rem 0 .8rem 0;
    }

    .bottom .about {
        width: 100%;
    }

    .bottom .services {
        width: 100%;
    }
}