.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-mid {
    width: 100%;
    height: 70vh;
    position: relative;

}

.hero-mid h1 {
    padding-top: 4rem !important;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 2.7rem;
    font-weight: 500;
    background-color: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-text p{
    font-size: 1.3rem;
    color: #ccc;
    padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
}

.hero-text .hide {
    display: none;
}

@media screen and (max-width: 655px) {

    .hero-text {
        position: absolute;
        width: 80% !important;
    }
    
    .hero-text h1 {
        font-weight: 500;
        padding: 0 0 1.5rem 0;
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.1rem;
        padding: 0 0 1.5rem 0;
    }

    .hero-text .show {
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;

    }
}

@media screen and (max-width: 550px) {

    .hero-text {
        position: absolute;
        width: 80% !important;
    }

    .hero-text h1 {
        font-weight: 500;
        padding: 0 0 1.5rem 0;
        font-size: 2.1rem;
    }

    .hero-text p {
        font-size: 1rem;
        padding: 0 0 1rem 0;
    }
}