.NavbarItems{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, .25);
    width:100%;
    height: 60px;
    min-height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-logo {
    color: #222;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
}
.navbar-logo img{
    width: 65px;
    line-height: 50px;
    margin-left: 20px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;

}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.nav-links i{
    padding-right:15px;
}

.nav-menu li a.active {
    color: #0275ea;
}

.nav-links:hover{
    color: #0275d8;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.nav-links-mobile{
    display: none;
}

button{
    background: #222;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    /* background-color: #151516; */
    background: #383b3b;
    transition: 0.3s ease-in-out;
    color: #fff;
}

button:activee{
    background: #7a8a8a;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px){
    
    .NavbarItems{
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #222;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: flex-start;
        padding: 20px 0 30px 0;
        margin-top: 60px;
        transition: 0.3s ease-in-out;
    }
    
    .nav-menu li {
        border-bottom: 1px solid #444;
        width: 100%;
        align-items: flex-start;
    }

    .nav-menu.activee {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    .navbar-logo img{
        width: 60px;
    }

    .nav-links {
        position: relative;
        display: block;
        width: 100%;
        font-size: 0.8rem;
        /* padding: 2rem 0; */
        font-weight: 500;
        color: #ccc;
        text-transform: capitalize;
        margin-left: 15px;
        text-align: start;
    }

    .navlinks:hover{
        /* background: #01959a; */
        background: rgba(220,220,220, .25);
        transition: none;
        color: #fff !important;
    }

    button{
        display: none;
    }

    .nav-links-mobile{
        display: block;
        text-align:center;
        padding: 1.5rem;
        margin: 15px auto;
        border-radius: 4px;
        width: 80%;
        background: #222;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .nav-links-mobile:hover{
        background: #464b4b;
        transition: 0.3s ease-in-out;
    }

    .nav-links-mobile:activee{
        background: #7a8a8a;
        transition: 0.3s ease-in-out;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    menu-icons i{
        font-size: 2rem;
        color: #888;
    }

    .navbar-logo {
        color: #222;
        font-size: 1.5rem;
    }
}