.headingClient{
    margin: 4rem 10rem;
    color: #2a2a2a;   
}

.headingClient .client h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-bottom: 2.3rem !important;
}

.headingClient .client p{
    font-size: 1.17rem;
    color: #666;
    font-weight: 500;
    margin: auto;
}

.headingClient .ceo {
    margin-top: 2rem;
}

.headingClient .ceo h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.headingClient .ceo p {
    font-size: .9rem;
    color: #777;
}

.wrapper {
    margin: 4rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 30vh; */
    margin-bottom: 3rem;
}

.slider {
    height: 110px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide-track .slide {
    height: 100px;
    width: 240px;
}

.slider .slide img {
    width: 93%;
    height: 100px;
    border-radius: 10px;
    padding: 1px;
    border: 2px solid #dddddd;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.11);
}

@-webkit-keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-250px * 7);
    }
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(calc( -250px * 7));
    }
}

@media screen and (max-width: 990px) {
    .headingClient{
        margin: 4rem 2rem;
    }

    .headingClient .client h1{
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .headingClient .client p{
        text-align: center;
        font-size: 1.1rem !important;
        margin: 0 !important;
        padding: 0;
    }

    .wrapper {
        margin: 4rem 2rem;
    }

    .slider .slide-track .slide {
        height: 100px;
        width: 200px;
    }
}