.form-container{
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.11);
    margin: 4rem 6rem;
    color: #2a2a2a;
    border-top: 5px solid #0275d8;
}

.form-container .form{
    padding: 0 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.heading h1{
    font-size: 2rem;
    color: #666;
    font-weight: 600;
    width: 100%;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container .form .wide {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .form .wide .first-half .input1{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
    margin-right: 1rem;
}

.form-container .form .wide .first-half {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container .form .wide .second-half {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container .form .wide .second-half span {
    margin-left: 1rem;
}

.form-container .form .wide .second-half .input2{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
    margin-left: 1rem;
}

.form-container .form span {
    text-align: start;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: .9rem;
}

.form-container select{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container textarea{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container button{
    display: inline ;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    background-color: #0275d8;
}

/* .form-container .container{
    margin: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
} */

/* .form-container .container div{
    text-align: start;
    line-height: 2.6rem;
}

.form-container .container div h2{
    color: #030113;
    font-weight: 500;
    font-size: 1.8rem;
}

.form-container .container div p{
    line-height: 1.5rem;
    font-size: 1rem;
} */

@media screen and (max-width: 990px) {
    .form-container{
        margin: 2rem 1rem;
    }

    .form-container form{
        padding: 1rem;
        width: 100%;
    }

    .form-container textarea{
        height: 300px;
    }

    .form-container .form .wide {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-container .form .wide .first-half .input1{
        height: 3rem;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        border-radius: 0.3rem;
        margin-right: 0;
    }

    .form-container .form .wide .second-half span {
        margin-left: 0;
    }
    
    .form-container .form .wide .second-half .input2{
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        margin-left: 0 !important;
    }

    .form-container input{
        margin-bottom: 1.5rem;
    }

    .form-container textarea{
        margin-bottom: 1.5rem;
        height: 100px;
    }

    .form-container select{
        margin-bottom: 1.5rem;
    }

    /* .form-container .container{
        margin: 4rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .form-container .container div{
        margin-bottom: 2rem;
    } */
    
    /* .form-container .container div h2{
        color: #030113;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    .form-container .container div p{
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .form-container .heading{
        border-top: 10px solid #0275d8;
        font-size: 1.8rem;
        color: #666;
        font-weight: 600;
        width: 100%;
        margin: 6rem 0 0 0 !important;
        padding: 4rem 0 1rem 0;
    } */

    .form-container button{
        width: 160px;
        border-radius: 20px;
        font-size: 1rem;
        padding: 12px;
    }

    .heading h1{
        font-size: 1.7rem;
        color: #666;
        font-weight: 600;
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .form-container form{
        padding: 15px;
        width: 100%;
    }
}