.trip{
    margin: 4rem 6rem;
    color: #2a2a2a;   
}

.trip h1 {
    font-size: 3rem;
}

.heading{
    margin: 4rem 6rem;
    color: #2a2a2a;   
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 1.3rem;
}

.heading p{
    font-size: 1.3rem;
    color: #888;
    font-weight: 500;
}

.horizontalLine {
    margin: 4rem 6rem;
}

.tripcard {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.tripcard2 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.t-card{
    position: relative;
    width: 32%;
    text-align:start;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
    text-align: center;
}

.t-card a {
    text-decoration: none;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 2rem;
    color: #222;
    font-weight: 550; 
    width:120px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid #222;
}

.t-card a:hover{
    background-color: #666;
    color: #eee;

}

.t-card p {
    padding-top: 1rem;
    font-size: 1rem !important;
    color: #888 !important;
    line-height: 1.5rem;
    
}

.t-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.t-image:hover img{
    transform: scale(1.3)
}

.t-card h4 {
    font-size: 1.4rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width: 850px) {
    .trip{
        margin: 4rem 2rem;
    }

    .tripcard {
        flex-direction: column;
    }

    .tripcard2 {
        flex-direction: column;
    }

    .t-card {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .heading h1 {
        font-size: 2rem !important;
        font-weight: 200;
        margin-bottom: 1.3rem;
    }
    
    .heading p{
        font-size: 1.2rem !important;
        color: #888;
        font-weight: 500;
    }

    .t-card a {
        width:100px;
        padding: 7px;
        border-radius: 5px;
        margin-top: 1.6rem;
        font-size: .8rem;
    }
}

